In [24]:
import pandas as pd
import numpy as np

from pyodide.http import pyfetch
import io

In [25]:
response = await pyfetch("https://raw.githubusercontent.com/sharoncxu/data/master/titanic-dataset.csv")
out = await response.string()
data = pd.read_csv(io.StringIO(out), sep = ",")
data.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

In [26]:
data.replace("?",np.nan, inplace = True)
data = data.astype({"age": np.float64, "fare":np.float64})

In [27]:
data.replace({'male': 1, 'female':0}, inplace = True)
data.corr().abs()[["survived"]]

          survived
pclass    0.312469
survived  1.000000
sex       0.528693
age       0.055513
sibsp     0.027825
parch     0.082660
fare      0.244265

In [28]:
data["relatives"] = data.apply (lambda row: int((row['sibsp'] + row['parch'])>0), axis = 1)
data.corr().abs()[["survived"]]

           survived
pclass     0.312469
survived   1.000000
sex        0.528693
age        0.055513
sibsp      0.027825
parch      0.082660
fare       0.244265
relatives  0.201719

In [29]:
data = data[['sex', 'pclass','age','relatives','fare','survived']].dropna()

In [30]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data[['sex','pclass','age','relatives','fare']], data.survived, test_size=0.2, random_state=0)

In [31]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

In [32]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

In [33]:
from sklearn import metrics
predict_test = model.predict(X_test)
print(metrics.accuracy_score(y_test, predict_test))

0.7464114832535885